.page-header {
  background-color: #1d2631;
}

.main-nav__logo {
  background: url("../img/logo-pink-white-mobile.svg") no-repeat;
}

.main-nav__item {
  list-style: none;
}

.main-nav__link {
  color: #ffffff;
}
