.page-header {
  background-color: #1d2631;
}
.main-nav {
  display: flex;
  min-height: 70px;
}
.main-nav__item {
  text-align: center;
  padding-top: 14px;
  min-height: 64px;
  font-size: 18px;
  line-height: 32px;
  list-style: none;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}

.main-nav__link {
  color: #ffffff;
}

.main-nav__toggle {
    display: block;
    width: 50px;
    height: 24px;
    background-color: #1d2631;
    padding: 0;
    border: 0;
    cursor: pointer;
}
