.contacts {
  text-align: center;
  min-height: 500px;
}

.contacts__text {
  font-size: 24px;
  line-height: 30px;
  padding: 0 100px;
}

.contacts__caption {
  font-size: 18px;
  font-weight: bold;
}

.contacts__contacts {
  font-size: 24px;
  color: #d22856;
}
.contacts__map {
  margin-top: 50px;
  min-height: 250px;
  background: url("../img/bg-map-mobile@1x.png") no-repeat;
  background-position: bottom;
  background-size: cover;
}
