.table__caption {
  background-color: #283645;
}

.table__name {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.table__price {
  font-size: 24px;
  color: #ffffff;
}

.table__item {
  color: #283645;
}
